/* Exercicio Alura Curso CSS 
   By : Joel Andrade;
   */
   body {
   	font-family: "Time New Roman" serif;
   	background-color: #F2FFFC;
   }
   main h1 {
   	font-family: "Arial" sans-serif;
   	text-align: center;
   	color: #FFF;
   	background-color: #851944;
   }
   h2 {
   	font-family: "Arial" sans-serif;
   }
   p {
   	text-align: justify;
   }
   aside {
   	background-color: #3C1D3D;
   	color: #F2FFFC;
   }
   nav a {
   	color: #F2FFFC;
   }
   main a {
   	color: #851944;
   }
   aside a {
   	color: inherit;
   	font-family: "Open Sans Condensed", sans-serif;
   }
   footer {
   	background-color: #000;
   	color: #F2FFFC;
   }